<html>
	<head>
		<title>Bedtime</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheet/bedtime.css">
	</head>
	<body>
	<div class="ui text menu navhead">
		<div class="header item">Bedtime</div>
		<a class="item" href="/index">Home</a>
		<a class="item" href="/index/new">Add Story</a>
	</div>